.hterm-default{
    color: #000000;
    color: #CC0000;
    color: #4E9A06;
    color: #C4A000;
    color: #3465A4;
    color: #75507B;
    color: #06989A;
    color: #D3D7CF;
    color: #555753;
    color: #EF2929;
    color: #00BA13;
    color: #FCE94F;
    color: #729FCF;
    color: #F200CB;
    color: #00B5BD;
    color: #EEEEEC;
}

.draculicious{
    color: #282a36; /*black*/
    color: #ee3c3c; /*red*/
    color: #66de3d; /*green*/
    color: #ffb86c; /*yellow*/
    color: #2f77b9; /*blue*/
    color: #bd93f9; /*magenta*/
    color: #77d6fb; /*cyan*/
    color: #D3D7CF; /*lightGrey*/
    color: #44475a; /*darkGrey*/
    color: #ff5555; /*brightRed*/
    color: #50fa7b; /*brightGreen*/
    color: #f1fa8c; /*brightYellow*/
    color: #4590d6; /*brightBlue*/
    color: #ff79c6; /*brightMagenta*/
    color: #8be9fd; /*brightCyan*/
    color: #f8f8f2; /*brightWhite*/
}
